* {
  padding: 10px;
  background-color: white;
 margin: 50px;
}

.column.side {
  display: inline-block;
  background-color: #4d4c7d;
  height: 500px;
  width: 75px;
  margin-left: 50px;
  width: 25%;
}

.column.main {
  display: inline-block;

  width: 50%;
}


/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

header h1 {
  background-color: #4d4c7d;
  text-shadow: 5px 5px #827397;
  filter: drop-shadow(-10px 10px 20px #827397);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  margin: 0px auto;
  font-weight: bold;
  /* line-height: 1 rem; */
  text-align: left;
  color: #d8b9c3;
  text-align: left;
  font-size: 50px;
}

img {
  width: 300px;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-radius: 0.5rem;
  background-color: #dba39a;
  color: white;
  padding: 0.5rem;
  align-self: end;
}

.select {
  background-color: #4d4c7d;
  filter: drop-shadow(-10px 10px 20px #827397);
  padding: 50px;
  margin: 0px auto;
  font-weight: bold;
  line-height: 1 rem;
  text-align: left;
  text-align: left;
  padding: 2rem;
  height: 100px;
}

label {
 font-size: large;
  color: white;
  background-color: #4d4c7d;
}

h1.select {
  background-color: #4d4c7d;
}
.movieInfo {
  background-color: #4d4c7d;
}
