body {
  background-color: rgb(255, 255, 255);
}

.slides {
  padding: 5px;
  border-radius: 25px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slides img {
  object-fit: contain;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  background-image: url("https://scontent.cdninstagram.com/v/t1.15752-9/337188216_1483359202192128_125901960956712265_n.jpg?stp=dst-jpg_s320x320&_nc_cat=110&ccb=1-7&_nc_sid=5a057b&_nc_ohc=kXS64z01m6sAX-1ell6&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.cdninstagram.com&oh=03_AdSZrtK9w8Il52RsWYWHh5TwdHWpyMbaUhM9YDuh6942Wg&oe=644B1770");
  justify-content: center;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fec9ca;
}

::-webkit-scrollbar-thumb:hover {
  background: #aa7777;
}

.navbar {
  background-color: #4f370a;
  overflow: hidden;
  font-size: 30px;
  padding: 15px;
}

.navbar a {
  background-color: bisque;
  color: #4f370a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar a:hover a.active {
  background-color: #ffd0d1;
}

.row {
  margin: 35px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.column {
  flex: 20%;
  padding: 15px;
}

.column img {
  background: #fec9ca;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 25px;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, serif;
  color: #4f370a;
  font-size: 40px;
  text-align: center;
  background-color: bisque;
  padding: 25px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 23px;
  padding-left: 25px;
  color: #4f370a;
}
