body {
  background-color: rgb(255, 255, 255);
}

.navbar {
    background-color: #4f370a;
    overflow: hidden;
    font-size: 60px;
    padding: 30px;
  }

  .navbar a {
    float: left;
    color: #f2f2f2;
    font-family: 'Franklin Gothic Extra-Light', 'Arial Narrow';
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
  }

.navbar a:hover {
    background-color: #ffd0d1;
    color: #4f370a;
  }
  
  .navbar a.active {
    background-color: #fec9ca;
    color: #4f370a
  }

.row {
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .column {
    flex: 20%;
    padding: 30px;
  }
  
  .column img {
    border: 5px solid, bisque;
    background: #fec9ca;
    padding: 15px 15px;
    margin-top: 30px;
    border-radius: 50px;

  }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    color: #4f370a;
    font-size: 80px;
    text-align: center;
    background-color: bisque;
    padding: 100px;
}



p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  padding-left: 50px;
  color: #4f370a;
  
}